.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-primary {
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.banner-secondary {
    width: 80%;
}